@font-face {
    font-family: 'black-crow';
    src: url('/assets/fonts/Black crow Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: linear-gradient(to right bottom, #151723, #151722, #161721, #161720, #16171f);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #151723;
}
::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
}
.navbar{
    background: rgba(21, 23, 35, 0.4);
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 30px );
}
/* .smedia{
    margin: 0;
}
.smedia > li{
    padding: 0 10px;
}
.smedia > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #282c42;
    text-decoration: none;
    font-size: 25px;
}
.smedia > li > a:hover{
    transform: scale(1.1);
} */
.dcvHover, .ltHover{
    transition: .2s ease-in;
}
.dcvHover:hover, .ltHover:hover{
    transform: scale(1.1, 1.1);
}

/* @media screen and (min-height: 630px) {
    .fWrap{
        height: fit-content;
        padding: 100px 0;
    }
} */