@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: 'black-crow';
    src: url('/assets/fonts/Black crow Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* .firstSection h1{
    color: #fff;
    font-family: 'black-crow', sans-serif;
    font-weight: 500;
} */
:root{
    --black: #000000;
    --white: #dddddd;
    --primary: #4b0fc2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);

}
::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: #4b0fc2;
}

/*Default Style*/
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    outline: none;
    border: none;
}

.content{
    position: relative;
    height: 1000px;
    z-index: 9999;
}

/*MAIN HEADER*/
.mainHeader{
    width: 100%;
    height: 70px;
    display: flex;
    transform: translateY(20px);
    justify-content: space-between;

    padding: 0 10%;

    position: sticky;
    top: 0;
    z-index: 999;

    transition: .4s ease-in-out;
}
.mainHeader.navbarActive{
    transform: translateY(0);
    padding: 0 5%;
    background: rgba(79, 35, 167, 0.089);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 30px );
}
.mainHeader a{
    display: flex;
    gap: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainHeader a img{
    width: 40px;
}
.mainHeader a  > h1{
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.875rem);
}
.mainHeader a > h1 > span{
    color: #4b0fc2;
}
#navigationbarCon{
    display: flex;
    align-items: center;
    transition: .3s linear;
}
#navigationbarCon ul{
    display: flex;
    gap: 10px;
}
#navigationbarCon ul li{
    list-style: none;
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
#navigationbarCon ul li a{
    font-size: 16px;
    color: #dddddd;
    text-decoration: none;
    cursor: pointer;
}


/* FIRST SECTION */
.firstSection{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.fsText{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fsText h1{
    text-transform: uppercase;
    /* font-size: 120px; */
    font-size: clamp(3.125rem, -1.25rem + 14vw, 7.5rem);
    line-height: 1.3;
    font-family: 'black-crow', sans-serif;
    font-weight: 500;
}
.fsText p{
    width: 60%;
    font-weight: 400;
    color: #dddddd;
}


/* SECOND SECTION */
.secondSection{
    width: 100%;
    height: 1000px;
}

@media only screen and (max-width: 810px) {
    #navigationbarCon{
        position: absolute;
        right: 10px;
        top: 80px;
        background: rgba(39, 18, 80, 0.26);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 30px );
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(55, 27, 110, 0.74);
    }
    #navigationbarCon ul{
        flex-direction: column;
        gap: 3;
    }
    #navigationbarCon ul li{
        padding: 3px 10px;
        border-radius: 6px;
        margin: 0;
    }
}